<div class="container white-container">

  <%= link_to  'Retour', root_path, class: 'btn btn-outline-info' %>
  <h1 id="hero-title">Appels passés</h1>

  <div class="row px-5">
    <div class="col-12" id="mt-3">

      <%= simple_form_for(call_transaction_path, method: :get ) do |f| %>
        <div class='d-flex'>
          <%= f.input :goal, collection: @goals, label_method: :name, value_method: :id, label: false  %>
          <%= f.submit 'OK', class:'btn btn-outline-info mb-3 mx-1' %>
        </div>
      <% end %>
   
      <div class="row justify-content-center">
        <% @call_transactions.each do |call| %>
         <div class="card">
          <div class="card-infos">
              <h3><%= link_to "#{call.client.first_name} #{call.client.last_name}", edit_client_path(call.client) %></h3>
              <h4><%= "Appel passé le #{call.created_at.strftime('%d/%m/%y à %H:%M')}" %></h5>
              <h4><%= "#{call.client.revenue} € gagné pour cet appel" %></h5>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <%= link_to "Back to top", call_transaction_path(anchor: 'hero-title'), class: "btn btn-outline-primary mt-5 ml-3"%>

</div>
