<<div class="navbar sticky navbar-expand-sm navbar-light navbar-brocante">
  <div class= "d-flex">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo2.png", class: 'nav-image' %>
    <% end %>
    <h5 class="mt-4">Study Call</h5>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>    
        <li class="nav-profil"> | </li>
        <li class="nav-item active dropdown">
          <div class='d-flex nav-link' id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user pt-1"></i>
            <div class='mx-2'><%= current_user.first_name %></div>
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Tes clients", clients_path, class: "dropdown-item" %>
            <%= link_to "Tes objectifs", goals_path, class: "dropdown-item" %>
            <%= link_to "Tes appels passé", call_transaction_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>