<div class='container white-container'>
  <h1>Call center</h1>

  <div class='row px-5'>
    <div class='col-12' id='mt-3'>
      <div class="d-flex justify-content-between">

        <div class= 'col-8 box-revenu'>
          <div>
            <h3><%= "Objectif actuel remplie à #{@percentage.to_i}%" %></h4>
            <%= render 'shared/progress', { goal: @goal, percentage: @percentage, revenue: @revenue } %>
          </div>
        </div>
        
        <div id='badge'>
          <% if @goal %>
            <h6><%= "Objectif"%></h6>
            <h6><%= @goal.name %></h6>
            <h6><%= "#{@goal.amount}€" %></h6>
          <% end %>
        </div>
      </div>

    </div>
      <%= link_to '🎯 Nouvel objectif 🎯', new_goal_path, class: 'btn btn-outline-info mt-5 ml-3' %>
      <%= link_to 'Liste des clients', clients_path, class: 'btn btn-success mt-2 ml-3' %>
  </div>

</div>
